.OrgSettingGroup {
    float: right;
    width: 83%;
    height: 90vh;
}

.addUserGroupButton {
    background-color: rgb(99, 150, 240);
    border: 1px solid rgb(99, 150, 240);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    margin: 5px 0px;
    height: 30px;
}

.addUserGroupButton:hover {
    background-color: rgb(53, 120, 235);
    border: 1px solid rgb(53, 120, 235);
    font-weight: 500;
    border-radius: 5px;
    box-shadow: none;
}

.btn-group-groups{
    display: flex;
    justify-content: space-between;
  }

  #btn-delete-groups{
    background-color: red;
    border: 1px solid red;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
  }
  
  
  #btn-delete-groups:hover{
    background-color: rgb(194, 32, 32);
    border: 1px solid rgb(194, 32, 32);
  }
  
  #btn-delete-groups:disabled{
    background-color: rgb(239, 170, 170); 
    border: 1px solid rgb(239, 170, 170);
    
  }

.UserGroupTableContent {
    height: 78vh;
    padding-top: 5px;
    overflow-y: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.UserGroupTable {
    width: 100%;
    text-align: center;
}

.UserGroupTable thead th {
    position: sticky;
    top: 0;
    background-color: rgb(247, 247, 247);
    text-align: center;
}

.groupsCheckbox {
    width: 15px;
    height: 15px;
  }

.UserGroupTable,
td,
tr,
th {
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}

.UserGroupTable tr:nth-child(n) {
    border-bottom: solid 1px rgb(197, 196, 196);
}

.UserGroupTable tr:last-child {
    border-bottom: none;
}

.userGroupLink:hover{
    text-decoration: none;
}